.nexus-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-logo{
    font-weight: 800;
    letter-spacing: -0.05em;
    font-size: 1.25rem;
    color: var(--brand-primary);
  }

  .nav-links{
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;

    .nav-link{
      text-decoration: none;
      color: var(--text-main);
      font-weight: 500;
      font-size:  .875rem;
      transition: color 0.2s ease;

      &:hover{
        color: var(--brand-primary);
      }
    }
  }
}


