*,*::before,*::after{
  box-sizing: border-box;
}

body, h1,h2,h3,p,figure,blockquote,dl,dd{
  margin: 0;
}

body{
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8fafc;
  color:#0f172a;
}

ul[role='list'], ol[role='list']{
  list-style: none;
}

img,picture{
  max-width: 100%;
  display: block;
}

